# Site Settings
encoding                 : "utf-8"
locale                   : "en"
title                    : "Benedikt Schackenberg"
description              : "Just an IT guy."
favicon                  : "/assets/images/benedikt.jpg"
avatar                   : "/assets/images/benedikt.jpg"
url                      : "https://schackenberg.com"
baseurl                  : ""

future: true

# Site Author
author:
  name                   : "Benedikt Schackenberg"

comments                 : false

atom_feed:
  path                   :

og_image                 : "/assets/images/benedikt.jpg"

# Social sharing
twitter:
  username               :

# Analytics
analytics:
  google:
    tracking_id          :

# Reading Files
include:
  - _pages

exclude:
- README.md
- LICENSE
- Gemfile
- Gemfile.lock
- sparrowx-jekyll-theme.gemspec

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Outputting
permalink: /:title/
paginate: 5
paginate_path: "/blog/page:num/"
timezone: Europe/Berlin

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-feed

whitelist:
  - jekyll-paginate
  - jekyll-feed

# Front matter defaults
defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: page
      comments: false
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: false
      share: true
